name: Continuous Integration
on:
  push:
    paths:
      - 'src/**.ts'
      - yarn.lock
      - rollup.config.mjs
      - tsconfig.json
      - .prettierrc.cjs
      - .github/workflows/ci.yaml

jobs:
  build:
    name: Continuous Integration
    runs-on: ubuntu-22.04
    permissions:
      packages: read

    steps:
      - name: Checkout source code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Set up Node
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: 22
          cache: yarn
          cache-dependency-path: yarn.lock
          registry-url: 'https://npm.pkg.github.com'
          scope: '@mickaelvieira'

      - name: Check packages version
        uses: ./.github/actions/check-packages-exact-version

      - name: Install dependencies
        run: |
          yarn --frozen-lockfile
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Lint
        run: |
          yarn lint

      - name: Compile
        run: |
          yarn compile

      - name: Bundle
        run: |
          yarn bundle
