name: Continuous Integration
on:
  push:
    paths:
      - 'src/**.ts'
      - yarn.lock
      - rollup.config.mjs
      - tsconfig.json
      - .prettierrc.cjs
      - .github/workflows/ci.yaml

jobs:
  build:
    name: Continuous Integration
    runs-on: ubuntu-22.04
    permissions:
      packages: read

    steps:
      - name: Checkout source code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set up Node
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 22
          cache: yarn
          cache-dependency-path: yarn.lock
          registry-url: 'https://npm.pkg.github.com'
          scope: '@mickaelvieira'

      - name: Check packages version
        uses: ./.github/actions/check-packages-exact-version

      - name: Install dependencies
        run: |
          yarn --frozen-lockfile
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Lint
        run: |
          yarn lint

      - name: Compile
        run: |
          yarn compile

      - name: Bundle
        run: |
          yarn bundle
