name: Release
on:
  release:
    types:
      - published

jobs:
  build:
    name: Release
    runs-on: ubuntu-22.04
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout source code
        uses: actions/checkout@9bb56186c3b09b4f86b1c65136769dd318469633 # v4.1.2

      - name: Set up Node
        uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4.0.2
        with:
          node-version: 18
          cache: yarn
          cache-dependency-path: yarn.lock
          registry-url: 'https://npm.pkg.github.com'
          scope: '@mickaelvieira'

      - name: Install dependencies
        run: |
          yarn --frozen-lockfile

      - name: Compile
        run: |
          yarn compile

      - name: Bundle
        run: |
          yarn bundle

      - name: Add package.json file
        run: cp package.json ./dist

      - name: Add README.md file
        run: cp README.md ./dist

      - run: yarn publish ./dist
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
