name: Release
on:
  release:
    types:
      - published

jobs:
  build:
    name: Release
    runs-on: ubuntu-22.04
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout source code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Set up Node
        uses: actions/setup-node@cdca7365b2dadb8aad0a33bc7601856ffabcc48e # v4.3.0
        with:
          node-version: 18
          cache: yarn
          cache-dependency-path: yarn.lock
          registry-url: 'https://npm.pkg.github.com'
          scope: '@mickaelvieira'

      - name: Install dependencies
        run: |
          yarn --frozen-lockfile

      - name: Compile
        run: |
          yarn compile

      - name: Bundle
        run: |
          yarn bundle

      - name: Add package.json file
        run: cp package.json ./dist

      - name: Add README.md file
        run: cp README.md ./dist

      - run: yarn publish ./dist
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
